.sertificates{
    padding-top: 92px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}
.sertificate{
   max-width: 250px
}

.sertificatesContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 850px) {
    .btnActive{
     width: 20px;
     height: 5px;
     background-color: #AE2A26;
     margin: 0 10px;
   }
 
 }
 
 .btnActive{
     width: 42px;
     height: 5px;
     background-color: #AE2A26;
     margin: 0 10px;
   }
   .carouselBtn{
     width: 10px;
     height: 5px;
     background-color: #15151580;
   }
   .carouselBtn:nth-child(2){
   
   }
 
   .carouselBtn{
     margin:0 10px;
   }



   @media only screen and (max-width: 850px) {
    .btnActive{
     width: 20px;
     height: 5px;
     background-color: #AE2A26;
     margin: 0 10px;
   }
 
 }
 
 .btnActive{
     width: 42px;
     height: 5px;
     background-color: #AE2A26;
     margin: 0 10px;
   }
   .carouselBtn{
     width: 10px;
     height: 5px;
     background-color: #15151580;
     cursor: pointer;

   }
   .carouselBtn:nth-child(2){
   
   }
 
   .carouselBtn{
     margin:0 10px;
   }

  @media only screen and (max-width: 1792px){
    .sertificates{
      gap: 32px;
    }
    .sertificate{
      max-width: 200px;
    }
  }
@media only screen and (max-width: 1366px){
  .sertificates{
    gap: 32px;
  }
  .sertificate{
    max-width: 152px;
  }
}
@media only screen and (max-width: 1284px){
  .sertificates{
    gap: 32px;
  }
  .sertificate{
    max-width: 170px;
  }
}

@media only screen and (max-width: 952px){
  .sertificate{
    max-width: 388px;
  }

}

@media only screen and (max-width: 850px){
  .sertificate{
    max-width: 388px;
  }
  .sertificates{
    justify-content: center;
  }
}
@media only screen and (max-width: 500px){
  .sertificate{
    max-width: 320px;
  }
}

