.aboutCompanyContainer{
    position: relative;
    height: fit-content;
    height: fit-content ;
    margin: auto;
}

.header{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 45.6px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
}
.subHeader{
    color:#666666;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    padding-top: 16.9px;
    color:#666666
}

.photosContainer{
    display: flex;
    padding: 52px 75px;
    height: fit-content;
    justify-content: space-between;
    margin: auto;
    gap: 32px;
    flex-grow: 1;
}

.photoF{
    width:fit-content;
    flex:3
}
.photoS{
    flex: 2;
    
}

.borderTextLeft::after{
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    top:10px    ;
    background-color: black;
    left: 20px;
}
.borderTextLeft{
    transform: rotate(90deg);

}

.subHeader2{
    color:#666666;
    line-height: 24px;
    font-weight: 400;
    text-align: start;
    font-size: 20px;
    padding-top: 16.9px;
    color:#666666
}

.mapContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.map{
    width: 80%;  
    height: fit-content;
    margin: 0 auto;
}


@media only screen and (max-width: 1190px) {
    .photoF{
        width: calc(100%/2);
    }
    .photoS{
        width: calc(100%/3);
   
    }
    /* .map{
        width: 800px;  
        height: 540px;
        margin: 0 auto;
    } */
}

@media only screen and(max-width:970px){
    .photosContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1
    }
    .photoF{
        flex:1
    }
    .photoS{
        flex:1        
    }
}

@media only screen and (max-width: 1190px) {
    /* .map{
        width: 700px;  
        height: 400px;
        margin: 0 auto;
    } */
}   

@media only screen and (max-width: 963px) {
    .photosContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1
    }
    .photoF{
        width: 100%;
    }
    .photoS{
        width: 100%;
    }
}   

@media only screen and (max-width: 803px) {

    /* .map{
        width: 500px;  
        height: 300px;
        margin: 0 auto;
    } */
}   



@media only screen and (max-width: 600px) {

    /* .map{
        width: 400px;  
        height: 200px;
        margin: 0 auto;
    } */
    .photosContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .photosContainer img{
        width: 300px;
    }

 
    
}   


