.sideMenu{
    display: flex;
    width: 50%;
    height: 100%;
    position:absolute;
    background-color: #FFFFFF;
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    position: fixed;
  }
  .sideMenu .active{
    transform: translateX(50%);
  }
  
  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu{
    width: 100%;
    height: fit-content;
    display: flex;
    list-style-type: none;
    flex-direction:column;
    align-items: center;
    align-content: center;
}

.link{
    text-decoration: none;
}

.headerItems{
    margin: 0px 26px;
    
}
.langLogo{
    display: flex;
    width: 27px;
    height: 27px;
    text-align: center;
    background-color: #223071;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.langLogoImg{
    padding: 0;
    margin: 0;
}
.langList{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.langLink{
    margin-left: 10px;
    font-size: 40px;
}


.sidebarContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    align-items: center;
    
}
 .headerItemsA{
    font-size: 40px;
    line-height: 58px;
    }

.headerItems a{
   
}

@media only screen and(max-width:643px){
    .sideMenu{
        display: flex;
        width: 70%;
        height: 100%;
        position:absolute;
        background-color: #FFFFFF;
        z-index: 2;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        position: fixed;
      }
      .headerItemsA{
        font-size: 30px;
        line-height: 40px;
    }
}

@media only screen and (max-width:  593px) {
    .headerItemsA{
        font-size: 20px;
        line-height: 35px;
    }
    .langLink{
        font-size: 20px;
    }
}

@media only screen and (max-width:  526px) {
    .headerItems a{
        font-size: 35px;
        line-height: 50px;
    }
    .sideMenu{
        width: 100%;
        transform: translateX(0%);
        
      }
     
}

